@font-face {
    font-family: "Kumbh Sans";
    src: url("https://fonts.google.com/specimen/Kumbh+Sans") format("ttf"),
}

html, body {
    height: 100%;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    max-width: 980px;
    width: 100%;
    position: relative;
}

#womanImageBox {
    position: absolute;
    z-index: 1;
    left: -9.5%;
    top: 38%;
}

.card {
    display: flex;
    flex-direction: row;
    background-color: white;
    filter: drop-shadow(3rem 3rem 3rem rgba(0, 0, 0, 0.08));
    border-radius: 2rem;
    padding: 2rem;
    overflow: hidden;
    max-height: 28rem;
}

.boxImage {
    position: relative;
    padding-right: 30rem;
}

#backgroundPattern {
    position: absolute;
    width: 200%;
    top: -76%;
    left: -128%;
    z-index: -1;
}

#womanImage {
    position:absolute;
    top: 5%;
    left: -23%;
}

.boxText {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    max-width: 25rem;
}

h1 {
    font-family: "Kumbh Sans", serif;
}

p {
    font-family: "Kumbh Sans", serif;
    font-size: 1rem;
    color: hsl(240, 6%, 50%);
}

.question {
    border-bottom: 0.1rem solid hsl(240, 5%, 91%);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.question > p {
    display: inline;
    margin-right: 3rem;
}

.showBold {
    font-weight: bold;
    color: black;
}

.question:hover > p {
    color: hsl(14, 88%, 65%);
}

#arrowIcon {
    float: right;
    margin-top: 0.4rem;
}

.showArrow {
    transition: transform .3s;
    transform: rotate(180deg);
}

.response {
    max-height: 0rem;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

.showDiv {
    max-height: 10rem;
    animation: sweep .5s ease-in-out;
}
@keyframes sweep {
    0%    {opacity: 0; margin-top: -10px}
    100%  {opacity: 1; margin-top: 0px}
  }

.attribution {
    position: fixed;
    bottom: 0%;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
    
    #womanImageBox {
        display: none;
    }

    .card {
        flex-direction: column;
        max-height: 33rem;
        padding: 1.5rem;
        overflow: visible;
    }

    .boxImage {
        padding-bottom: 3rem;
    }

    #backgroundPattern {
        position: absolute;
        width: 50%;
        top: -365%;
        left: 6%;
        z-index: -1;
    }
    
    #womanImage {
        position: absolute;
        top: -265%;
        left: 4%;
        width: 50%;
    }

    h1 {
        text-align: center;
    }

    p {
        font-size: 0.9rem;
    }

    .question > p {
        margin-right: 2rem;
    }

    
}